@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
.ref {
  position: absolute;
  opacity: 0.3;
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #413a3a;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  background: no-repeat url("../images/bg-pattern-desktop.svg"), no-repeat linear-gradient(135deg, white, #fff5f5);
  background-size: cover;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 4rem 8rem 4rem 4rem;
  max-width: 40rem;
}

@media screen and (max-width: 860px) {
  .info {
    padding: 2rem 0;
    max-width: 100%;
  }
}

.logo {
  margin-bottom: 8.5rem;
}

@media screen and (max-width: 860px) {
  .logo {
    margin: 0 0 2rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 6rem;
  }
}

.hero-mobile {
  width: 100%;
  background: red;
  display: none;
}

.hero-mobile img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 20rem;
}

@media screen and (max-width: 860px) {
  .hero-mobile {
    display: block;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1rem;
  margin-bottom: 1.7rem;
  line-height: 1.03;
}

@media screen and (max-width: 860px) {
  h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 4rem;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.7rem;
    margin-bottom: 1rem;
  }
}

h1 span {
  font-weight: 300;
  color: #ce9797;
}

p {
  line-height: 1.7;
  color: #ce9797;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 860px) {
  p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 0 6rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  p {
    padding: 0 2rem;
  }
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 860px) {
  .email {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 6rem;
  }
}

@media screen and (max-width: 500px) {
  .email {
    padding: 0 2rem;
  }
}

.email input {
  width: 100%;
  font-family: inherit;
  outline: none;
  background: none;
  border: 1px solid #ce9797;
  border-radius: 3rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.2rem 2rem;
}

@media screen and (max-width: 860px) {
  .email input {
    padding: 0.9rem 1.3rem;
    font-size: 0.9rem;
  }
}

.email input::-webkit-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

.email input:-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

.email input::-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

.email input::placeholder {
  color: rgba(206, 151, 151, 0.5);
}

.email input:hover, .email input:focus {
  border: 1px solid #be7474;
}

.email button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  width: 6.5rem;
  height: 100%;
  right: 0;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 3rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(206, 151, 151, 0.3);
          box-shadow: 0 1rem 1rem rgba(206, 151, 151, 0.3);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media screen and (max-width: 860px) {
  .email button {
    right: 6rem;
    width: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .email button {
    right: 2rem;
    width: 4rem;
  }
}

.email button:hover, .email button:active {
  background: linear-gradient(135deg, #fce3e3, #f3afaf);
  -webkit-box-shadow: 0 1rem 1.5rem rgba(206, 151, 151, 0.6);
          box-shadow: 0 1rem 1.5rem rgba(206, 151, 151, 0.6);
}

.hero-img {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  .hero-img {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media screen and (max-width: 860px) {
  .hero-img {
    display: none;
  }
}

.hero-img img {
  display: block;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1180px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */